*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* front style copeid from google fonts - link added to html */
body{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
.searchbar{
    width: 100%;
    max-width: 100%;
}

nav {
    flex: 1;
    text-align: right;
    text-emphasis-color: ;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
  color: black;  
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* image one */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.col-2 h1{
    font-size: 30px;
    line-height: 60px;
    margin: 5px 0;
}


.button{
    display: inline-block;
    color: azure;
    background:#bf7631 ;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
/* to add hover effect: transition added above and button hover added below */
.button:hover{
    background: black;
}

.header {
    background:slategrey;
}

/* adds spacing between navbar and text/image */
.header .row{
    margin-top: 70px;

}
/* top margin */
.vase_with_flowers{
    margin: 30px;
}
.col-3{
    /* side margins */
    flex-basis: 30%;
    min-width: 70px;
    align-items: center;
    margin: bottom 30px; ;
}
.product_container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color:not sure;
}

.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s  ;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.title::after{
    content: '';
    background: #bf7631;
    width: 160px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    text-align: center;
    color: #555;
    font-weight: 200;

}
.col-4 p{
    color: #555;
    font-size: small;
    font-weight: 200;
    text-align: center;
}

/* hover overs products. to move on y axis transiton 
added to col-f styleing above   */
.col-4:hover{
    transform: translateY(-5px);
}
.button2{
    display: inline-block;
    color: azure;
    background:lightslategray ;
    padding: 7px 25px;
    margin: 25px 0;
    border-radius: 20px;
    transition: background 0.5s;
    text-align: center;
}
/* to add hover effect: transition added above and button hover added below */
.button2:hover{
    background: black;
}

.footer{
    background:slategrey;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer-col-1, .footer-col-2{
    min-width:100px;
}
.footer-col-1, .footer-col-2{
    text-align: center;
}
ul{
    list-style-type: none ;

}







